{% extends 'moneykatz/base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}
{% bootstrap_css %}
{#{% bootstrap_javascript %}#}
{% bootstrap_messages %}

{% block title %}Add Category{% endblock %}

{% block body_block %}

    <form class="form-category" id="category_form" method="post" action="{% url 'add_category' %}">

        <h2 class="form-signin-heading">Create a New Category</h2>
        {% csrf_token %}

          {% bootstrap_form form layout='inline' show_label=False %}


{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{#    #}
{#        {% for field in form.visible_fields %}#}
{#            {{ field.errors }}#}
{#            {{ field.help_text }}#}
{#            {{ field }}#}
{#        {% endfor %}#}

        {% buttons layout='inline' %}
            <button type="submit" class="addcat btn btn-primary" name="submit">
            <i class="addcat fa fa-folder-o"></i> Create
            </button>
        {% endbuttons %}

    </form>

{% endblock %}