<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moneykatz - Add a File</title>
</head>
<body>
    <form id="file_form" method="post"  enctype="multipart/form-data" action="/moneykatz/category/{{ category.slug }}/add_file/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.help_text }}
            {{ field.errors }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Upload File" />
    </form>
</body>
</html>