{% extends 'moneykatz/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    {% if category %}
        <div class="row">
            <h1 style="float: left;margin-left: 10px;">{{ category_name }}</h1>
            <p class="text-muted" style="float: left; margin: 38px 0 0 10px;"><strong id="like_count">{{ category.likes }} </strong>
                likes</p>
                {% if user.is_authenticated %}
                    <button id="likes" data-catid="{{ category.id }}" class="btn btn-primary btn-xs" type="button" style="float: left; margin: 38px 0 0 10px;">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Like
                    </button>
                {% endif %}
        </div>


            {% if files %}
            <ul>
                {% for file in files %}
                <li><a href="/media/{{ file.document }}">{{ file.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No files in category</strong>
            {% endif %}
        <br />
        <a href="{% url 'category' category_name_slug %}add_file/">Add a File</a>
        <br />

    {% else %}
        The category {{ category_name }} does not exist
    {% endif %}
    

{% endblock %}