{% extends 'moneykatz/base.html' %}

{% load staticfiles %}

{% block body_block %}
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}</h1>
    {% else %}
    <h1>Welcome Stranger</h1>
    {% endif %}
    Hello World! <strong>{{ boldmessage }}</strong><br />


    <h2>Categories</h2>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No categories present</strong>
    {% endif %}

    <a href="{% url 'add_category' %}">Add a New Category</a><br />

    <h2>Most Viewed Files</h2>
    {% if files %}
        <ul>
            {% for file in files %}
                <li><a href="/media/{{ file.document }}">{{ file.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No files present</strong>
    {% endif %}

    <p> visits: {{ visits }}</p>
{% endblock %}