{% extends 'moneykatz/base.html' %}

{% load staticfiles %}

{% block sidediv %}{% endblock %}

{% block maindiv %}

{% block body_block %}

    <style>
        #portrait {
            margin-top: 25px;
            position: relative;
            z-index: 20;
        }
        .text-right.text-muted{
            margin-bottom: 0px;
            margin-top: 3px;
        }

    </style>

    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-10">
            <h1>Jacqueline Thomas</h1>

            <p class="small">
                <span class="glyphicon glyphicon-earphone"></span>: +965.5048.7341<br />
                <span class="glyphicon glyphicon-envelope"></span>:
                <a class="email" href="mailto:jacquelinamy@gmail.com">jacquelinamy@gmail.com</a>
            </p>

            <p class="text-muted">
                I am an enthusiastic, knowledgeable, and creative teacher leader,
                with experience in coaching, teaching, and administration.
                I am seeking a postion as a literacy coach, language arts, or social studies teacher.
                I am excited to begin my next adventure in learning and leadership.
            </p>
        </div>
        <div class="col-xs-3 col-md-2 ">
            <img id="portrait" src="{% static 'images/jthomas.png' %}" alt="Photo of Jackie Thomas"
                 class=" img-thumbnail img-responsive" />
        </div>

    </div>
<hr style="width: 100%; position: relative; z-index: 1;">
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">DEGREES AND CERTIFICATIONS</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <strong>California State University, Chico</strong><br />
                <span style="padding-left: 30px">California Multiple Subject Teaching Credential</span><br />
                <span style="padding-left: 30px;">Bachelor of Arts in Liberal Studies</span></p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">TEACHING AND LEADERSHIP EXPERIENCE</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 lead" style="margin-bottom: 0">
            Literacy Coach, Grades 6-9
        </div>
        <div class="col-xs-7 text-right text-muted">
            American School of Kuwait  2014-Current
        </div>
    </div>

    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Facilitated the implementation and utilization of strategies designed to improve students’ ability to read, write, think, and succeed in Language Arts through the application of the Teacher’s College Reading and Writing Workshop approach</li>
            <li style="padding-bottom: 7px">Collaborated with administration, teacher teams, and individual teachers on an on-going basis to ensure that new techniques/skills were effectively used in classroom instruction, acted as a resource to teachers, helping them to learn, experiment, apply new knowledge, and implement new strategies</li>
            <li style="padding-bottom: 7px">Developed school-wide literacy goals aligned with assessment data (MAP) and curricular standards (CCSS), updated all curriculum documents, including curriculum maps, vertical alignment guides, and UbDs</li>
            <li style="padding-bottom: 7px">Conducted literacy in-service training on best teaching practices for middle school and high school faculty, including facilitating teacher walkthroughs/peer observations, modeling in classrooms, observing teachers, and videotaping teacher-student conferences and mini-lessons to show growth/collaboration</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            Honors English Teacher, Grade 8
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            American School of Kuwait, 2015-Current
        </div>
    </div>

    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Maintained consistent classroom management to establish and promote an atmosphere of mutual respect, fairness and equality</li>
            <li style="padding-bottom: 7px">Motivated students to take responsibility and ownership of their own learning, setting their own individual education goals and learning pace</li>
            <li style="padding-bottom: 7px">Individualized the assessment process for students, based upon the CCSS and in accordance with their understanding and performance</li>
            <li style="padding-bottom: 7px">Integrated technology into the classroom by developing units to include: interactive whiteboards, Moodle, computer literacy, and other web-based learning tools</li>
            <li style="padding-bottom: 7px">Adapted and utilized the Reading and Writing Workshop approach to accelerate learning and maintain high standards</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            Social Studies Teacher, Grade 8
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            American School of Kuwait, 2012-2014
        </div>
    </div>

    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Employed kinesthetic, visual and auditory approaches to lesson planning, creating an engaging and interactive learning environment</li>
            <li style="padding-bottom: 7px">Emphasized reading and writing in conjunction with Social Studies through use of the Common Core State Standards and AERO standards</li>
            <li style="padding-bottom: 7px">Contributed to the UBD Learning Committee, both in preparation and presentation of professional development</li>
            <li style="padding-bottom: 7px">Collaborated with and, at times, led or assisted colleagues as the the Social Studies Department Chair (2013-2015) and Grade Level Lead (2012-13)</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            Literacy Coach, Grades 1-5
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            Escuela Internacíonal Sampedrana, Honduras, 2011-2012
        </div>
    </div>

    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Supported a balanced writing program through the implementation of the Teacher’s College Writing Workshop, produced a coordinating pacing guide</li>
            <li style="padding-bottom: 7px">Conceptualized, developed, and supervised student-run publishing centers, publishing student’s independent work through a wide range of mediums, with a final writing portfolio</li>
            <li style="padding-bottom: 7px">Participated in weekly team planning and reflected upon suggestions from my principal, team leader, and colleagues in order to continually refine my teaching and leadership</li>
            <li style="padding-bottom: 7px">Assumed responsibility for organization, planning, and delivery of all Writing Workshop curriculum in grades 1-5</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            Assistant Principal, Grades K-8
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            Kirkwood School, California, 2008-2010
        </div>
    </div>

    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Contributed to the academic and social tone of the school through consistent demonstration of professionalism, enthusiasm for the school community, and a commitment to educational excellence</li>
            <li style="padding-bottom: 7px">Established and maintained rapport with staff, students and parents; mentored and led new teachers</li>
            <li style="padding-bottom: 7px">Assisted in adopting Language Arts, Social Studies, Science & Math curriculum, pacing guides and curriculum maps for grades K-8, supervised the writing and implementation of the Single Plan for Student Achievement</li>
            <li style="padding-bottom: 7px">Led and attended staff meetings, county-level meetings, IEP meetings, SST meetings, parent conferences, and administration conferences</li>
            <li style="padding-bottom: 7px">Initiated and facilitated an after-school sports program with a nearby school; coached co-ed volleyball teams, co-directed the students’ fall performance, organized fundraising activities, advised the student government, and sponsored the school yearbook</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">ADDITIONAL TEACHING AND LEADERSHIP EXPERIENCE</p>
        </div>
    </div>
    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Language Arts Department Chair, <span>American School of Kuwait, 2015-Current</span></li>
            <li style="padding-bottom: 7px">Literacy Committee, NESA Representative, <span>American School of Kuwait, 2015-Current</span></li>
            <li style="padding-bottom: 7px">Reading Accreditation Committee Chair, <span>American School of Kuwait, 2014-Current</span></li>
            <li style="padding-bottom: 7px">Middle School ELL Teacher, <span>American School of Kuwait, Summer 2013, 2014-2015</span></li>
            <li style="padding-bottom: 7px">Multiple Subjects Teacher, Grades 7/8, <span>Kirkwood School, California, 2008-2010</span></li>
            <li style="padding-bottom: 7px">Language Arts Teacher, Grade 5, <span>EIS, Honduras, 2007-2008, 2010-2012</span></li>
            <li style="padding-bottom: 7px">Multiple Subjects Teacher, Grades 4-8, <span>Kirkwood School, California 2004-2007</span></li>
            <li style="padding-bottom: 7px">Multiple Subjects Teacher, Grades 5/6, <span>Hamilton City Elementary, California 2004</span></li>
            <li style="padding-bottom: 7px">After School Program, Grades 5-8, <span>Hamilton City Elementary, California 2004</span></li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">PROFESSIONAL DEVELOPMENT</P>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">Teachers College Reading and Writing Project</p>
        </div>
        <div class="col-xs-12">
            <ul> 
                <li style="padding-bottom: 7px">Reading Summer Institute, Columbia Teachers College, <span>2015</span></li>
                <li style="padding-bottom: 7px">NESA Conferring Workshop, C. Anderson, <span>2015</span></li>
                <li style="padding-bottom: 7px">Reading and Writing Weekend Workshop, L. Calkins, <span>2011</span></li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">Additional Professional Development</p>
        </div>
    </div>

    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Classroom Assessment for Student Learning, NESA Winter Institute, <span>2015</span></li>
            <li style="padding-bottom: 7px">Leader in Me: 7 Habits of Highly Effective People, <span>2011</span></li>
            <li style="padding-bottom: 7px">Lindamood Bell: Visualizing and Verbalizing, <span>2010</span></li>
            <li style="padding-bottom: 7px">Administrator Training Program (AB 430), <span>2009</span></li>
            <li style="padding-bottom: 7px">North State Math and Science Partnership Grant, <span>2007</span></li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            References
        </div>
    </div>
    <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">

    </div>

    <div class="col-xs-12">
        Available on request
    </div>
</div>

{% endblock body_block%}

{% endblock maindiv%}