{% extends 'moneykatz/base.html' %}

{% load staticfiles %}

{% block title %}Landing Page{% endblock %}

{% block more_head %}
    <style>
        .container {
            width: 100%;
            height:100%;
        }
        .landing {
            background-image: url({% static 'images/space.jpg' %});
            padding:0;
            margin:0;
        }
    </style>
{% endblock %}

{% block sidediv %}{% endblock %}

{% block maindiv %}
    {% block body_block %}
        <div class="landing">
        Hello
        </div>


    {% endblock body_block %}
{% endblock maindiv %}