{% extends 'moneykatz/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <style>
        img {
            margin-top: 25px;
            position: relative;
            z-index: 20;
        }

        .container-fluid {
            margin-right: auto;
            margin-left: auto;
            max-width: 950px;
        }

    </style>

    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-10">
            <h1>Brian Thomas</h1>

            <p class="small">
                Cell: +965 5523 6942<br />
                Email: <a href="mailto:brianraythomas@gmail.com">brianraythomas@gmail.com</a>
            </p>
            <p class="text-muted">
                I am a dedicated and energetic professional, seeking a
                career in information technology and programming.
                I have experience in teaching web development, graphic design, and technology integration.
                I can bring world domination to your organization.
            </p>
        </div>
        <div class="col-xs-3 col-md-2 ">
            <img src="{% static 'images/bthomas.png' %}" alt="Photo of Brian Thomas" class=" img-thumbnail img-responsive" />
        </div>
        <hr style="width: 100%; position: relative; z-index: 1;">
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">DEGREES AND CERTIFICATIONS</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <strong>University of California - Davis</strong> <br />
                <strong style="padding-left: 30px">Major:</strong> Biology<br />
                <strong style="padding-left: 30px;">Minor:</strong> Microbiology<br /></p>
            <p class="text-muted">
                Massachusetts Teaching Credential, Biology: 8-12<br /> Moodle Course Creator Certified<br /> Google Apps for Eduction Certified<br /> AP Biology Summer Training, University of San Diego
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">TEACHING EXPERIENCE</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 lead" style="margin-bottom: 0">
            Technology Coach
        </div>
        <div class="col-xs-7 text-right text-muted">
            American School of Kuwait  2014-Current
        </div>
    </div>
    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Implemented and maintained standardized online classrooms for the middle school through the Moodle platform</li>
            <li style="padding-bottom: 7px">Trained and supported teachers as they implemented student based technology</li>
            <li style="padding-bottom: 7px">Facilitated a teacher lead professional learning course to become a Google Apps for Education certified teachers</li>
            <li style="padding-bottom: 7px">Designed and implemented online substitute teacher coordination system</li>
            <li style="padding-bottom: 7px">Designed and developed a website to streamline school facility and housing maintenance process</li>
            <li style="padding-bottom: 7px">Graphic Design of school wide publications</li>
            <li style="padding-bottom: 7px">Video editing experience with Final Cut Pro</li>
            <li style="padding-bottom: 7px">Experience and training with Gradequick and TeacherPlus</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            Computer Programming and Multimedia Teacher
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            American School of Kuwait  2014-2015
        </div>
    </div>
    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Python, Scratch, and Java programing languages taught to students in grades 6-8</li>
            <li style="padding-bottom: 7px">Taught SketchUp and Photoshop graphic design programs to grades 6-8</li>
            <li style="padding-bottom: 7px">Implemented a mobile app curriculum to expand the programing class</li>
            <li style="padding-bottom: 7px">Fostered a classroom environment based on student inquiry and technology experimentation</li>
            <li style="padding-bottom: 7px">Organized and built the Community Center and multiple social events</li>
        </ul>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            AP Biology Teacher
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            American School of Kuwait  2012-2014
        </div>
    </div>
    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Maintained a AP biology exam rate of 3 or better, significantly higher than the national average</li>
            <li style="padding-bottom: 7px">Integrated technology in formative assessments based on Google Apps for Education</li>
            <li style="padding-bottom: 7px">Presented a standards based grading seminar to school faculty to help build a collaborative learning environment</li>
            <li style="padding-bottom: 7px">Utilized Starboard technology as a pedagogical tool</li>
        </ul>
        <hr>
    </div>


    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            AP Biology Teacher
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            Escuela Internacíonal Sampedrana, Honduras 2010-2012
        </div>
    </div>
    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">90% rate of 3 or better on AP biology exam<</li>
            <li style="padding-bottom: 7px">Presented at international teachers conference, Teachers Teaching Teachers</li>
            <li style="padding-bottom: 7px">Model United Nations director, organized 2nd largest MUN conference in the country</li>
        </ul>
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">MILITARY EXPERIENCE</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            Flying Crew Chief
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">
            C-5 Galaxy Crew &nbsp; 2001-2004
        </div>
    </div>
    <div class="col-xs-12">
        <ul> 
            <li style="padding-bottom: 7px">Provided global mission support to C-5A/B/C aircraft through unscheduled maintenance and repair, pre and post flight inspections, safety inspections and servicing</li>
            <li style="padding-bottom: 7px">USAF Avionics Course, Keesler AFB, Biloxi, MS</li>
            <li style="padding-bottom: 7px">Secret Security Clearance issued by USAF-DOD</li>
            <li style="padding-bottom: 7px">Air Force Achievement Medal received Dec 2004 for direct contributions to successful global missions in support of Operations Iraqi Freedom and Enduring Freedom</li>
        </ul>
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-8 col-md-7 lead" style="margin-bottom: 0">
            References
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5 text-right text-muted">

        </div>
    </div>
    <div class="col-xs-12">
        Available on request
        <hr>
    </div>
</div>
<hr style="margin: 0 25px 0 25px;">

{% endblock %}