{% extends 'moneykatz/base.html' %}

{% load staticfiles %}

{% block title %}Overpriced Junk{% endblock %}

{% block more_head %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sale.css' %}" rel="stylesheet">

{% endblock %}

{% block sidediv %}{% endblock %}

{% block maindiv %}
    {% block body_block %}

        <div class="landing content-container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 top-row">
                    <p class="lead"><h1 style="background-color: rgba(0,0,0,0.2); padding: 0.5em; color: #F4F379">
                    Nothing haunts us like the things we didn't buy</h1>
                        <span class="text-muted pull-right"> - Alan Greenspan</span></p>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="row top-row">
                <h1>You Need This</h1>
                <p class="lead">You can't live without this</p>
            </div>

            <div class="marginBottom">
                <div class="col-sm-6 col-md-4 marginTop">
                    <h2><img src="{% static 'images/forsale/slingshot.svg' %}" height="44px" /> Wrist Rocket</h2>
                    <img class="featurette-image img-responsive center-block gallery-img"
                         src="{% static 'images/forsale/wrist-rocket.jpg' %}" alt="Slingshot">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info gallery-button" data-toggle="modal" data-target="#rocketModal">
                      View Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="rocketModal" tabindex="-1" role="dialog" aria-labelledby="rocketModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="rocketModalLabel">
                                <span class="pull-right" style="margin: 0 10px 0 0"> 5kd</span>Shoot for the Stars</h4>
                          </div>
                          <div class="modal-body">
                            <img class="featurette-image img-responsive center-block"
                             src="{% static 'images/forsale/wrist-rocket.jpg' %}" alt="Slingshot">
                              <p> Or the street lights.  I don't judge.</p>
                              <p>Water soluble paintballs are good, cheap ammo which you can get from Ace.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 marginTop">
                    <h2> <img src="{% static 'images/forsale/shooting.svg' %}" height="44px" /> Winchester</h2>

                    <img class="featurette-image img-responsive center-block gallery-img"
                         src="{% static 'images/forsale/rifle.jpg' %}" alt="Pellet Rifle">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info gallery-button" data-toggle="modal" data-target="#rifleModal">
                      View Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="rifleModal" tabindex="-1" role="dialog" aria-labelledby="rifleModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="rifleModalLabel">
                                <span class="pull-right" style="margin: 0 10px 0 0"> 20kd</span>Someone Shot Dan Summers' Hat</h4>
                          </div>
                          <div class="modal-body">
                            <img class="featurette-image img-responsive center-block"
                                 src="{% static 'images/forsale/rifle.jpg' %}" alt="Pellet Rifle">
                              <p>Shoot the lights out with 1100 fps pellets and a high power scope.  Ask Dan Summers to
                              model shooting a rifle.</p><p>Orginally 50kd from Ace Hardware</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 marginTop">
                    <h2><img src="{% static 'images/forsale/bocci.svg' %}" height="44px" /> Bocci</h2>

                    <img class="featurette-image img-responsive center-block gallery-img"
                         src="{% static 'images/forsale/bocci.jpg' %}" alt="Bocci">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info gallery-button" data-toggle="modal" data-target="#bocciModal">
                      View Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="bocciModal" tabindex="-1" role="dialog" aria-labelledby="bocciModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="bocciModalLabel">
                                <span class="pull-right" style="margin: 0 10px 0 0">3kd</span>Bocci: True Leisure Sport</h4>
                          </div>
                          <div class="modal-body">
                            <img class="featurette-image img-responsive center-block"
                                 src="{% static 'images/forsale/bocci.jpg' %}" alt="Bocci">
                              <p>Leisure sports for life.  Originally $40 back in California.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="marginBottom">
                <div class="col-sm-6 col-md-4 marginTop" style="position: relative">
                    <h2><img src="{% static 'images/forsale/macbook.svg' %}" height="44px" /></i> Macbook</h2>

                    <img class="featurette-image img-responsive center-block top-image"
                         src="{% static 'images/forsale/soldout.svg' %}">
                    <img class="featurette-image img-responsive center-block gallery-img"
                         src="{% static 'images/forsale/macbook.jpg' %}" alt="macbook">


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info gallery-button" data-toggle="modal" data-target="#macbookModal">
                      View Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="macbookModal" tabindex="-1" role="dialog" aria-labelledby="macbookModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="macbookModalLabel">
                                <span class="pull-right" style="margin: 0 10px 0 0">20kd</span>MacBook</h4>
                          </div>
                          <div class="modal-body">
                            <img class="featurette-image img-responsive center-block"
                         src="{% static 'images/forsale/macbook.jpg' %}" alt="macbook">
                              <p>4Gb, 320Gb, New Bat, power cable not included.  20kd</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 marginTop">
                    <h2> <img src="{% static 'images/forsale/autobots.svg' %}" height="44px" /> Transformer</h2>

                    <img class="featurette-image img-responsive center-block gallery-img"
                         src="{% static 'images/forsale/transformer.jpg' %}" alt="transformer">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info gallery-button" data-toggle="modal" data-target="#transformerModal">
                      View Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="transformerModal" tabindex="-1" role="dialog" aria-labelledby="transformerModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="transformerModalLabel">
                                <span class="pull-right" style="margin: 0 10px 0 0">2kd</span>Step-Up/Step-Down Transformer</h4>
                          </div>
                          <div class="modal-body">
                            <img class="featurette-image img-responsive center-block"
                         src="{% static 'images/forsale/transformer.jpg' %}" alt="transformer">
                              <p>It's got a fuse in the back to stop you from frying your electronics.  Get juiced.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 marginTop">
                    <h2><img src="{% static 'images/forsale/camels-race.svg' %}" height="44px" /> Camelbak</h2>

                    <img class="featurette-image img-responsive center-block gallery-img"
                         src="{% static 'images/forsale/camelbak.jpg' %}" alt="Camelbak">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info gallery-button" data-toggle="modal" data-target="#cbModal">
                      View Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="cbModal" tabindex="-1" role="dialog" aria-labelledby="cbModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="cbModalLabel">
                                <span class="pull-right" style="margin: 0 10px 0 0">3kd</span>CamelBak</h4>
                          </div>
                          <div class="modal-body">
                            <img class="featurette-image img-responsive center-block"
                         src="{% static 'images/forsale/camelbak.jpg' %}" alt="Camelbak">
                              <p>1.5L reservoir.  Lots of little pockets.  No-Drip nipple that I definitely cleaned recently.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix"></div>
            <div class="row marginTop">
                <p class="lead number">Shoot me a text at <a href="tel:+965 5523 6942">5523 6942</a> or
                    <a href="{% url 'contact' %}"> <strong>email me</strong></a> if you're interested </p>
            </div>
        </div>

        <div class="content-container blue">
            <div class="row paddingTop">
                <h2>Want Aaron Willette's voice on your phone?</h2>
                <p class="lead">Download <em>Shooter Tutor</em></p>
                <p>A simple alien shooting game that teaches multiplication and division</p>
                <a href="https://play.google.com/store/apps/details?id=appinventor.ai_BrianRayThomas.Game&utm_source=android.downloadatoz.com"
                    target="_blank">
                    <img src="{% static 'images/googleplay.svg' %}" class="marginTop">
                </a>
            </div>
        </div>


    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    {% endblock body_block %}
{% endblock maindiv %}